.button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 13px;
  border: 0;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  outline: 0;
  transition: all .3s ease-in;
}

.button:disabled {
  background-color: var(--gray);
  cursor: inherit;
}

.button:disabled:hover {
  opacity: 1;
}

.button:hover {
  opacity: .8;
}


.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}