.app {
  display: flex;
  width: 100%;
  min-width: 460px;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--black);
}

.container {
  display: grid;
  width: clamp(440px, 80%, 900px);
  padding-top: 15%;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  row-gap: 20px;
}

.title {
  padding: 0;
  margin: 0;
  color: var(--white);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}